In [ ]:
!pip install yahooquery

In [4]:
from yahooquery import Ticker

In [5]:
stock = Ticker('8151.T')

In [ ]:
stock.all_modules

In [9]:
df = stock.income_statement('q')

In [11]:
df.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'BasicAverageShares',
       'BasicEPS', 'CostOfRevenue', 'DilutedAverageShares', 'DilutedEPS',
       'DilutedNIAvailtoComStockholders', 'EBIT', 'EBITDA', 'GrossProfit',
       'InterestExpense', 'InterestExpenseNonOperating', 'InterestIncome',
       'InterestIncomeNonOperating', 'NetIncome',
       'NetIncomeCommonStockholders', 'NetIncomeContinuousOperations',
       'NetIncomeFromContinuingAndDiscontinuedOperation',
       'NetIncomeFromContinuingOperationNetMinorityInterest',
       'NetIncomeIncludingNoncontrollingInterests', 'NetInterestIncome',
       'NetNonOperatingInterestIncomeExpense', 'NormalizedEBITDA',
       'NormalizedIncome', 'OperatingExpense', 'OperatingIncome',
       'OperatingRevenue', 'OtherNonOperatingIncomeExpenses',
       'OtherSpecialCharges', 'OtherunderPreferredStockDividend',
       'PretaxIncome', 'ReconciledCostOfRevenue', 'ReconciledDepreciation',
       'SpecialIncomeCharges', 'TaxEffectOfUnusualItems', 'TaxProvision',
       'TaxRateForCalcs', 'TotalExpenses', 'TotalOperatingIncomeAsReported',
       'TotalRevenue', 'TotalUnusualItems',
       'TotalUnusualItemsExcludingGoodwill'],
      dtype='object')

In [23]:
dfc = df[['asOfDate', 'OperatingRevenue', 'OperatingIncome', 'NetIncome']]
dfc

         asOfDate  OperatingRevenue  OperatingIncome     NetIncome
symbol
8151.T 2020-03-31               NaN              NaN           NaN
8151.T 2022-12-31      5.512298e+09    -1.698910e+08 -1.874280e+08
8151.T 2022-12-31               NaN              NaN           NaN
8151.T 2023-03-31      9.974366e+09     1.674675e+09  1.328318e+09
8151.T 2023-06-30      5.667620e+09    -3.616900e+08 -1.771030e+08
8151.T 2023-09-30      7.018305e+09     3.291780e+08  5.704240e+08
8151.T 2023-09-30      2.817259e+10     1.472272e+09  1.534211e+09